<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title><%= pageTitle %> - <%= company %></title>
  
    <link rel="stylesheet" href="/libs/dataTables/dataTables.bootstrap5.min.css">
    
    <link rel="stylesheet" href="/libs/icons/all.min.css" />
    <link rel="shortcut icon" type="image/png" href="/images/favicon.ico" />
    <link rel="stylesheet" href="/css/styles.min.css" />
  
</head>