<nav class="sidebar-nav scroll-sidebar" data-simplebar="">
    <ul id="sidebarnav">
      <li class="nav-small-cap">
        <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
        <span class="hide-menu">API MANAGER</span>
      </li>
     
      <li class="sidebar-item">
        <a class="sidebar-link" href="/dashboard" aria-expanded="false">
          <span>
            <i class="ti ti-layout-dashboard"></i>
          </span>
          <span class="hide-menu">Dashboard</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link text-success" href="/connection" aria-expanded="false">
          <span>
            <i class="ti ti-qrcode"></i>
          </span>
          <span class="hide-menu">Conectar</span>
        </a>
      </li>
      
      <li class="nav-small-cap">
        <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
        <span class="hide-menu">Configurações</span>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="/server" aria-expanded="false">
          <span>
            <i class="ti ti-server"></i>
          </span>
          <span class="hide-menu">Servidor</span>
        </a>
      </li>
     
    </ul>

</nav>