<nav class="sidebar-nav scroll-sidebar" data-simplebar="">
    <ul id="sidebarnav">
      <li class="nav-small-cap">
        <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
        <span class="hide-menu">API MANAGER</span>
      </li>
     
      <li class="sidebar-item">
        <a class="sidebar-link" href="/dashboard" aria-expanded="false">
          <span>
            <i class="ti ti-layout-dashboard"></i>
          </span>
          <span class="hide-menu">Dashboard</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link text-success" href="/connection" aria-expanded="false">
          <span>
            <i class="ti ti-qrcode"></i>
          </span>
          <span class="hide-menu">Conectar</span>
        </a>
      </li>
      
      <li class="nav-small-cap">
        <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
        <span class="hide-menu">Configurações</span>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="/server" aria-expanded="false">
          <span>
            <i class="ti ti-server"></i>
          </span>
          <span class="hide-menu">Servidor</span>
        </a>
      </li>
     
    </ul>
    
    <div class="unlimited-access hide-menu bg-light-primary position-relative mb-7 mt-5 rounded">
      <div class="d-flex">
        <div class="unlimited-access-title me-3">
          <h6 class="fw-semibold fs-4 mb-6 text-dark w-85">Precisa de uma versão PRO?</h6>	
          <a href="https://whitelabel.apibrasil.com.br/" target="_blank" class="btn btn-primary fs-2 fw-semibold lh-sm"><i class="ti ti-mail me-2"></i>Contato</a>
        </div>
        <div class="unlimited-access-img">
          <img src="/images/backgrounds/rocket.png" alt="" class="img-fluid">
        </div>
      </div>
    </div>

</nav>